.app {
  border: 1px solid #ddd;
  max-width: 600px;
  margin: auto;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 10px 20px #eee;
}

.app-header {
  padding: 1rem;
  color: #333;
  border-bottom: solid 1px #ddd;
}

.app-header h1 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.app-footer {
  color: #999;
  text-align: center;
  padding: 1rem
}
